
body, pre, code, div {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.container > * {
    flex-align: stretch;
}

.file-pane {
    width: 200px;
    background: #666;
    overflow-x: hidden;
}

.code-pane {
    flex: 1;
    display: flex;
}

.file-list {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
}

.file-list > li {
    font-family: Segoe UI;
    font-weight: 500;
    font-size: 14px;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.file-list > li.selected {
    background: #999;
}

code {
    flex: 1;
}
code.hljs {
    line-height: 1.35em;
    padding: 15px;
}

.diff-added {
    background: #040;
    border-bottom: 1px solid #040;
    outline: 1px solid #007700;
    margin: 0 0 -1px 0;
}

.diff-removed {
    background: #400;
    border-bottom: 1px solid #400;
    outline: 1px solid #770000;
    margin: 0 0 -1px 0;
}

.hljs::selection,
.hljs span::selection {
  background: #06a;
}
