<div class="dialog home">
    <div>
        <header>Twice-Over <div class="iteration">Home</div></header>
        <content>
            <div class="column">
                <label>My Reviews</label>
                <div id="myReviews"></div>
                
                <label>Review Requests</label>
                <div id="reviewRequests"></div>
            </div>
            <div class="column">
                <label>Other Active Reviews</label>
                <div id="otherActiveReviews" class="filler"></div>
            </div>
        </content>
        <footer>
            <button class="close" style="display: none">Back</button>
            <div class="filler"></div>
            <button id="newReviewButton" class="save">New Review</button>
        </footer>
    </div>
</div>