<div class="dialog home">
    <div>
        <title>Twice-Over</title>
        <content>
            <div class="column">
                <label>My Reviews</label>
                <div id="myReviews"></div>
                
                <label>Review Requests</label>
                <div id="reviewRequests"></div>
            </div>
            <div class="column">
                <button id="newReviewButton">New Review</button>

                <label>Other Active Reviews</label>
                <div id="otherActiveReviews" class="filler"></div>
            </div>
        </content>
        <footer style="display: none">
            <button class="close">Back</button>
            <div class="filler"></div>
        </footer>
    </div>
</div>