<div class="dialog" style="display: none">
    <div id="import-dialog">
        <header>Twice-Over <div class="iteration">New Review</div></header>
        <content class="import-content">
            <div class="column">
                <label>Changes</label>
                <div id="change-container" class="filler"></div>
            </div>
            <div class="new-review-right column">
                <label for="review-title">Title</label>
                <input id="review-title" type="text" min="5" max="1000" />

                <label class="reviewers" for="review-reviewers">Reviewers</label>

                <label for="review-description">Description</label>
                <textarea id="review-description" class="filler"></textarea>
            </div>
        </content>
        <footer class="import-content">
            <button class="close">Back</button>
            <div class="filler"></div>
            <button class="save disabled">Create Review</button>
        </footer>


        <!-- "Loading Changes..." UI-->
        <content class="import-status" style="display: none">
            <label>Loading changes...</label>
            <div class="filler">
                <ul class="tree"></ul>
            </div>
        </content>
        <footer class="import-status">
            <button class="close">Back</button>
            <div class="filler"></div>
        </footer>
    </div>
</div>
