/* latin */
@font-face {
    font-family: 'Averia Sans Libre';
    font-style: italic;
    font-weight: 400;
    src: local('Averia Sans Libre Italic'), local('AveriaSansLibre-Italic'), url(averiasanslibre.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body, pre, code, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: Segoe UI, sans-serif;
    background: #1d1f21;
}

.container-outer {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.menu-bar, .dialog title {
    display: block;
    height: 40px;
    background: #484;
    padding-left: 8px;
    line-height: 40px;
    font-size: 28px;
    font-family: 'Averia Sans Libre', cursive;
    font-style: italic;
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
    z-index: 10;
    text-shadow: 0 0 2px #333;
}

.iteration {
    display: inline-block;
    background:  linear-gradient(105deg,
        #484 0%,
        #484 10px,
        rgba(0, 0, 0, 0.35) 11px,
        #484 16px,
        #484 100%);
    padding: 0 8px 0 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.iteration.new-iteration {
    padding-right: 12px;
}

.container-inner {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.file-pane {
    width: 200px;
    overflow-x: hidden;
    color: white;
    font-weight: 400;
    font-size: 13px;
    background: linear-gradient(90deg,
        #444 0%,
        #444 calc(100% - 5px),
        #111 calc(100% - 4.999px),
        #1d1f21 100%);
}

.code-pane {
    flex: 1;
    display: flex;
}

.file-list {
    margin: 1em 0;
    padding: 0;
    list-style-type: none;
}

.file-list > li {
    padding: 4px 10px 6px 20px;
    cursor: pointer;
    background: linear-gradient(90deg,
        #444 0%,
        #444 calc(100% - 5px),
        #111 calc(100% - 4.999px),
        #1d1f21 100%);
}

.file-list > li.selected {
    background:
        linear-gradient(90deg,
            rgba(29,31,33,0) 0%,
            rgba(29,31,33,0) calc(100% - 6px),
            #1d1f21 100%),
        linear-gradient(180deg,
            #111 0,
            #1d1f21 5px,
            #1d1f21 calc(100% - 3px),
            #161616 100%);
}

code {
    flex: 1;
}
code.hljs {
    line-height: 1.35em;
    padding: 15px;
}

.diff-added {
    background: #040;
    border-bottom: 1px solid #040;
    outline: 1px solid #007700;
    margin: 0 0 -1px 0;
}

.diff-removed {
    background: #400;
    border-bottom: 1px solid #400;
    outline: 1px solid #770000;
    margin: 0 0 -1px 0;
}

.hljs::selection,
.hljs span::selection {
    background: #06a;
}

label {
    font-size: 18px;
    line-height: 30px;
}

.dialog {
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.dialog > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dialog title {
    z-index: 21;
}

.dialog content {
    display: block;
    flex: 1;
    background: #444;
    color: #ddd;
}

.dialog footer {
    background: #666;
    display: flex;
    color: #222;
    height: 40px;
    text-align: right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
}
.dialog footer button {
    font-size: 20px;
    padding: 5px 10px;
}

.row-group, .toolbar {
    display: flex;
}

.toolbar, .toolbar label {
    font-size: 14px;
    line-height: 30px;
}

.row-group > button {
    padding: 0 10px;
    font-size: 22px;
    background: #484;
    color: white;
}

.filler {
    flex: 1;
}

.error {
    color: #f54;
}

button {
    cursor: pointer;
    font-family: 'Averia Sans Libre', cursive;
    font-style: italic;
    font-size: 20px;
    font-weight: 500;
    background: #bbb;
    border: 0;
}

button.save {
    background: #484;
    color: white;
}

button.save.disabled {
    opacity: 0.5;
    cursor: default;
    color: black;
}

select {
    background: #888;
    border: none;
    color: black;
    font-family: inherit;
    font-size: 14px;
    height: 30px;
    cursor: pointer;
}

.dialog #import-dialog content {
    display: flex;
}

#change-container, #change-container > * {
    display: flex;
    flex-direction: column;
}

#reviewer-container {
    margin-bottom: 6px;
}

#reviewer-container > *, #change-container {
    font-size: 14px;
}

#change-container {
    margin-top: 1px;
    margin-right: -10px;
}

#change-container .content {
    overflow: auto;
    box-sizing: border-box;
    padding: 4px 0;
}

.tree, .tree-node {
    white-space: nowrap;
    list-style-type: none;
}

.tree {
    padding: 0 20px;
    margin: 0;
}

.tree-node {
    list-style-type: none;
}

.tree-node > span {
    display: inline-block;
    cursor: pointer;
    padding: 0 4px;
    margin-right: 10px;
    margin-bottom: -2px;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.tree-node > span:before {
    font-family: "FontAwesome";
    display: inline-block;
    width: 28px;
    padding-left: 6px;
    margin-left: -28px;
    box-sizing: border-box;
}

.tree-node.selected > span:before {
    content: "\f00c";
    color: #484;
}

.tree-node.selected > span {
    background: #484;
    border: 2px solid #484
}

.tree-node.partial-select > span {
    border: 2px solid #484
}

.tree-node.children > span:before {
    content: "\f054";
    color: inherit;
}

.tree-node.children.expanded > span:before {
    content: "\f078";
    color: inherit;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.column input, .column textarea {
    resize: none;
    background: #1d1f21;
    border: 0;
    box-shadow: inset 0 1px 6px black;
    color: #eee;
    font-family: Segoe UI, sans-serif;
    font-size: 16px;
    padding: 5px 8px;
}
